/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles and layout */
@font-face {
  font-family: "Norse";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/Norse-Bold.woff2) format("woff2");
}

:root {
  --grey900: rgb(11, 11, 11);
  --grey100: rgb(246, 246, 246);
  --grey200: rgb(222, 222, 222);
  --grey300: rgb(174, 174, 174);
  --accent: rgb(89, 109, 72);
  --focus: rgb(46, 89, 149);
  --invalid: rgb(198, 60, 36);
}

body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-family: "Norse";
}
