/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles and layout */
@font-face {
  font-family: "Norse";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/Norse-Bold.woff2) format("woff2");
}

:root {
  --grey900: rgb(11, 11, 11);
  --grey700: rgb(43, 43, 43);
  /* --grey-semi: rgb(43, 43, 43 / 70%); */
  --white: rgb(255, 255, 255);
  --grey100: rgb(246, 246, 246);
  --grey200: rgb(222, 222, 222);
  --grey300: rgb(174, 174, 174);
  --accent-color: rgb(89, 109, 72);
  --blue: rgb(46, 89, 149);
  --red: rgb(198, 60, 36);
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--grey700);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 24px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

/* Sign-up form component */
.component {
  background-color: var(--grey100);
  color: var(--grey900);
  display: flex;
  width: 40rem;
}

/* Image sidebar */
/* .image-sidebar {
  background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
}

.title {
  display: flex;
  background-color: var(--grey-semi);
  opacity: 50%;
  font-family: "Norse";
  font-size: 30px;
  color: white;
}

.title img {
  height: 2em;
}

.title h1 {
  color: white;
}

.sidebar-bottom {
  flex-grow: 2;
} */

/* Main content */
.main-content {
  flex-grow: 2;
}

/* Section: Sales pitch */
.sales-pitch {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 5rem 2.5rem 1.5rem 2.5rem;
}

.sales-pitch p {
  max-width: 33rem;
  margin-bottom: 1rem;
}

/* Section: Sign up */
.sign-up {
  background-color: var(--white);
  padding: 1.5rem 0 2.5rem 2.5rem;
  box-shadow: 0px 4px 4px var(--grey200);
}

.sign-up h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.form-controls {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.form-controls li {
  margin-right: 3rem;
  margin-top: 1.25rem;
}

.form-controls label {
  display: block;
  /* 0.75 * 16px = 12px */
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.125rem;
}

.form-controls input {
  border: 1px solid var(--grey200);
  border-radius: 4px;
  width: 14rem;
}

.form-controls input:invalid {
  background: var(--white);
  border: 2px solid var(--red);
}

.form-controls input:focus {
  border: 2px solid var(--blue);
  box-shadow: 2px 2px 2px var(--grey200);
  outline: none;
}

/* Section: Submit form */
.submit-form {
  /* 0.875 x 16px = 14px */
  font-size: 0.875rem;
  padding: 2.5rem 2.5rem 5rem;
}

.submit-form input {
  font-weight: 700;
  color: var(--white);
  background-color: var(--accent-color);
  padding: 0.75em 2.5em;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--grey200);
  margin-bottom: 1rem;
}

.submit-form a {
  color: var(--accent-color);
  font-weight: 700;
}

/* Footer */
.attribution {
  color: var(--grey200);
  font-size: 0.75rem; /* 0.75 * 16px = 12px */
  text-align: center;
}

.attribution a {
  color: var(--grey100);
}
