/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles and layout */
@font-face {
  font-family: "Norse";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/Norse-Bold.woff2) format("woff2");
}

:root {
  --grey900: rgb(11, 11, 11);
  --grey700: rgb(43, 43, 43);
  --grey-semi: rgb(43, 43, 43 / 70%);
  --grey100: rgb(246, 246, 246);
  --grey200: rgb(222, 222, 222);
  --grey300: rgb(174, 174, 174);
  --accent-color: rgb(89, 109, 72);
  --focus-color: rgb(46, 89, 149);
  --error-color: rgb(198, 60, 36);
}

body {
  font-family: system-ui, sans-serif;
  /* 0.875 * 16px = 14px */
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  color: var(--grey200);
  background-color: var(--grey700);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 24px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

/* Sign-up form component */
.container {
  background-color: var(--grey100);
  color: var(--grey900);
  display: flex;
  flex-basis: 120rem;
}

/* Image sidebar */
.image-sidebar {
  background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
}

.title {
  display: flex;
  background-color: var(--grey-semi);
  opacity: 50%;
  font-family: "Norse";
  font-size: 30px;
  color: white;
}

.title img {
  height: 2em;
}

.title h1 {
  color: white;
}

.sidebar-bottom {
  flex-grow: 2;
}

/* Footer */
.attribution {
  /* 0.75 * 16px = 12px */
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: var(--grey100);
}
